In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
file_path = 'ipl_2023_Auction_dataset.csv'
ipl_df = pd.read_csv(file_path)
print(ipl_df.head())

   Unnamed: 0           Player Base Price          TYPE  COST IN ₹ (CR.)  \
0           0      Shivam Mavi    4000000        BOWLER              6.0
1           1    Joshua Little    5000000        BOWLER              4.4
2           2  Kane Williamson   20000000       BATSMAN              2.0
3           3      K.S. Bharat    2000000  WICKETKEEPER              1.2
4           4     Mohit Sharma    5000000        BOWLER              0.5

   Cost IN $ (000) 2022 Squad            Team  Base Price IN ₹  \
0            720.0        KKR  Gujarat Titans              NaN
1            528.0        NaN  Gujarat Titans              NaN
2            240.0        SRH  Gujarat Titans              NaN
3            144.0         DC  Gujarat Titans              NaN
4             60.0        NaN  Gujarat Titans              NaN

   Base Price IN $
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

In [4]:
ipl_df_cleaned = ipl_df.drop_duplicates()
numerical_columns = ipl_df_cleaned.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = ipl_df_cleaned.select_dtypes(include=['object']).columns

ipl_df_cleaned[numerical_columns] = ipl_df_cleaned[numerical_columns].fillna(ipl_df_cleaned[numerical_columns].median())
ipl_df_cleaned[categorical_columns] = ipl_df_cleaned[categorical_columns].fillna(ipl_df_cleaned[categorical_columns].mode().iloc[0])

ipl_df_cleaned['COST IN ₹ (CR.)'] = pd.to_numeric(ipl_df_cleaned['COST IN ₹ (CR.)'], errors='coerce')
ipl_df_cleaned['Cost IN $ (000)'] = pd.to_numeric(ipl_df_cleaned['Cost IN $ (000)'], errors='coerce')

print(ipl_df_cleaned.info())
print(ipl_df_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 568 entries, 0 to 567
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       568 non-null    int64
 1   Player           568 non-null    object
 2   Base Price       568 non-null    object
 3   TYPE             568 non-null    object
 4   COST IN ₹ (CR.)  568 non-null    float64
 5   Cost IN $ (000)  568 non-null    float64
 6   2022 Squad       568 non-null    object
 7   Team             568 non-null    object
 8   Base Price IN ₹  0 non-null      float64
 9   Base Price IN $  0 non-null      float64
dtypes: float64(4), int64(1), object(5)
memory usage: 48.8+ KB
None
   Unnamed: 0           Player Base Price          TYPE  COST IN ₹ (CR.)  \
0           0      Shivam Mavi    4000000        BOWLER              6.0
1           1    Joshua Little    5000000        BOWLER              4.4
2           2  Kane Williamson   20000000       BATSMAN              2.0
3           3      K.S. Bharat    2000000  WICKETKEEPER              1.2
4           4     Mohit Sharma    5000000        BOWLER              0.5

   Cost IN $ (000) 2022 Squad            Team  Base Price IN ₹  \
0            720.0        KKR  Gujarat Titans              NaN
1            528.0         MI  Gujarat Titans              NaN
2            240.0        SRH  Gujarat Titans              NaN
3            144.0         DC  Gujarat Titans              NaN
4             60.0         MI  Gujarat Titans              NaN

   Base Price IN $
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

In [5]:
player_type_count = ipl_df['TYPE'].value_counts()
print("Player Type Distribution:\n", player_type_count)

highest_cost = ipl_df[['Player', 'COST IN ₹ (CR.)']].sort_values(by='COST IN ₹ (CR.)', ascending=False).head(10)
lowest_cost = ipl_df[['Player', 'COST IN ₹ (CR.)']].sort_values(by='COST IN ₹ (CR.)').head(10)

print("\nTop 10 Highest Auction Prices:\n", highest_cost)
print("\nTop 10 Lowest Auction Prices:\n", lowest_cost)

team_composition = ipl_df['Team'].value_counts()
print("\nNumber of players bought by each team:\n", team_composition)

team_spending = ipl_df.groupby('Team')['COST IN ₹ (CR.)'].sum().sort_values(ascending=False)
print("\nTotal spending by each team (in ₹ CR):\n", team_spending)

Player Type Distribution:
 ALL-ROUNDER     213
BOWLER          189
BATSMAN          91
WICKETKEEPER     75
Name: TYPE, dtype: int64

Top 10 Highest Auction Prices:
                Player  COST IN ₹ (CR.)
97         Sam Curran            18.50
144     Cameron Green            17.50
25         Ben Stokes            16.25
119   Nicholas Pooran            16.00
218       Harry Brook            13.25
219    Mayank Agarwal             8.25
0         Shivam Mavi             6.00
193      Jason Holder             5.75
50       Mukesh Kumar             5.50
220  Heinrich Klaasen             5.25

Top 10 Lowest Auction Prices:
                 Player  COST IN ₹ (CR.)
242     Glenn Phillips              0.0
117     Raj Angad Bawa              0.0
118       Rishi Dhawan              0.0
211        Dhruv Jurel              0.0
210       K.C Cariappa              0.0
241  Bhuvneshwar Kumar              0.0
209   Yashasvi Jaiswal              0.0
208   Yuzvendra Chahal              0.0
207    Prasidh Krishna              0.0
116  Prabhsimran Singh              0.0

Number of players bought by each team:
 Unsold                         325
Gujarat Titans                  25
Chennai Super Kings             25
Delhi Capitals                  25
Lucknow Super Giants            25
Royal Challengers Bangalore     25
Rajasthan Royals                25
Sunrisers Hyderabad             25
Mumbai Indians                  24
Kolkata Knight Riders           22
Punjab Kings                    22
Name: Team, dtype: int64

Total spending by each team (in ₹ CR):
 Team
Sunrisers Hyderabad            35.70
Mumbai Indians                 20.50
Punjab Kings                   20.00
Lucknow Super Giants           19.80
Chennai Super Kings            18.95
Delhi Capitals                 15.00
Gujarat Titans                 14.80
Rajasthan Royals                9.85
Royal Challengers Bangalore     7.00
Kolkata Knight Riders           5.40
Unsold                          0.00
Name: COST IN ₹ (CR.), dtype: float64

In [6]:
team_spending = ipl_df.groupby('Team')['COST IN ₹ (CR.)'].sum().sort_values(ascending=False)
print("\nTotal spending by each team (in ₹ CR):\n", team_spending)
team_composition_by_type = ipl_df.groupby(['Team', 'TYPE']).size().unstack().fillna(0)
print("\nTeam composition by player type:\n", team_composition_by_type)
average_cost_per_team = ipl_df.groupby('Team')['COST IN ₹ (CR.)'].mean().sort_values(ascending=False)
print("\nAverage cost per player for each team (in ₹ CR):\n", average_cost_per_team)

Total spending by each team (in ₹ CR):
 Team
Sunrisers Hyderabad            35.70
Mumbai Indians                 20.50
Punjab Kings                   20.00
Lucknow Super Giants           19.80
Chennai Super Kings            18.95
Delhi Capitals                 15.00
Gujarat Titans                 14.80
Rajasthan Royals                9.85
Royal Challengers Bangalore     7.00
Kolkata Knight Riders           5.40
Unsold                          0.00
Name: COST IN ₹ (CR.), dtype: float64

Team composition by player type:
 TYPE                         ALL-ROUNDER  BATSMAN  BOWLER  WICKETKEEPER
Team
Chennai Super Kings                   10        6       8             1
Delhi Capitals                        10        5       8             2
Gujarat Titans                         8        4       9             4
Kolkata Knight Riders                  6        3      10             3
Lucknow Super Giants                  12        2       9             2
Mumbai Indians                        12        3       6             3
Punjab Kings                           9        3       6             4
Rajasthan Royals                       5        4      11             5
Royal Challengers Bangalore            8        5      10             2
Sunrisers Hyderabad                    7        6       8             4
Unsold                               126       50     104            45

Average cost per player for each team (in ₹ CR):
 Team
Sunrisers Hyderabad            1.428000
Punjab Kings                   0.909091
Mumbai Indians                 0.854167
Lucknow Super Giants           0.792000
Chennai Super Kings            0.758000
Delhi Capitals                 0.600000
Gujarat Titans                 0.592000
Rajasthan Royals               0.394000
Royal Challengers Bangalore    0.280000
Kolkata Knight Riders          0.245455
Unsold                              NaN
Name: COST IN ₹ (CR.), dtype: float64

In [7]:
top_players_by_cost = ipl_df[['Player', 'Team', 'COST IN ₹ (CR.)']].sort_values(by='COST IN ₹ (CR.)', ascending=False).head(10)
print("\nTop 10 Players based on Auction Price:\n", top_players_by_cost)

top_teams_by_spending = ipl_df.groupby('Team')['COST IN ₹ (CR.)'].sum().sort_values(ascending=False).head(5)
print("\nTop 5 Teams based on Total Spending (₹ CR):\n", top_teams_by_spending)

top_teams_by_avg_cost = ipl_df.groupby('Team')['COST IN ₹ (CR.)'].mean().sort_values(ascending=False).head(5)
print("\nTop 5 Teams based on Average Cost per Player (₹ CR):\n", top_teams_by_avg_cost)

high_cost_threshold = 10
top_teams_high_cost_players = ipl_df[ipl_df['COST IN ₹ (CR.)'] > high_cost_threshold].groupby('Team').size().sort_values(ascending=False).head(5)
print("\nTop 5 Teams by Number of High-Cost Players (₹ > 10 CR):\n", top_teams_high_cost_players)

Top 10 Players based on Auction Price:
                Player                  Team  COST IN ₹ (CR.)
97         Sam Curran          Punjab Kings            18.50
144     Cameron Green        Mumbai Indians            17.50
25         Ben Stokes   Chennai Super Kings            16.25
119   Nicholas Pooran  Lucknow Super Giants            16.00
218       Harry Brook   Sunrisers Hyderabad            13.25
219    Mayank Agarwal   Sunrisers Hyderabad             8.25
0         Shivam Mavi        Gujarat Titans             6.00
193      Jason Holder      Rajasthan Royals             5.75
50       Mukesh Kumar        Delhi Capitals             5.50
220  Heinrich Klaasen   Sunrisers Hyderabad             5.25

Top 5 Teams based on Total Spending (₹ CR):
 Team
Sunrisers Hyderabad     35.70
Mumbai Indians          20.50
Punjab Kings            20.00
Lucknow Super Giants    19.80
Chennai Super Kings     18.95
Name: COST IN ₹ (CR.), dtype: float64

Top 5 Teams based on Average Cost per Player (₹ CR):
 Team
Sunrisers Hyderabad     1.428000
Punjab Kings            0.909091
Mumbai Indians          0.854167
Lucknow Super Giants    0.792000
Chennai Super Kings     0.758000
Name: COST IN ₹ (CR.), dtype: float64

Top 5 Teams by Number of High-Cost Players (₹ > 10 CR):
 Team
Chennai Super Kings     1
Lucknow Super Giants    1
Mumbai Indians          1
Punjab Kings            1
Sunrisers Hyderabad     1
dtype: int64